@define-color cool-light-gray #b5bbcf;
@define-color neutral-gray #848484;
@define-color muted-lavender-gray #847c84;
@define-color dusty-blue #7589aa;
@define-color slate-blue #617291;
@define-color blue-gray #4d5667;
@define-color steel-blue #39465a;
@define-color deep-slate #2f3749;
@define-color charcoal-navy #282b34;
@define-color near-black #060708;

/* extras */
@define-color red #fc4649;

/* :root {
  --cool-light-gray: #b5bbcf;
  --neutral-gray: #848484; unused
  --muted-lavender-gray: #847c84; unused
  --dusty-blue: #7589aa;
  --slate-blue: #617291;
  --blue-gray: #4d5667; unused
  --steel-blue: #39465a; unused
  --deep-slate: #2f3749;
  --charcoal-navy: #282b34;
  --near-black: #060708;

  --red: #fc4649;
} */

* {
  font-family: Maple Mono;
  border-radius: 8;
  font-size: 14px;
  padding: 0px;
  background: transparent;
}

window#waybar {
  /* Linear gradients are used because it makes less harsh rounded border radius, gtk bug :p */
  background-image: linear-gradient(to bottom, @charcoal-navy 100%);
  border-radius: 14px;
  padding: 0px;
  box-shadow: inset 0 0 0 1px @dusty-blue;
}

menu {
  background-color: @near-black;
  color: @cool-light-gray;
  padding: 4px;
}

menu menuitem {
  background-image: linear-gradient(to bottom, @charcoal-navy 100%);

  margin: 3px;
  color: @cool-light-gray;
  border-radius: 4px;
  border-style: solid;
  border-color: @charcoal-navy;
}

menu menuitem:hover {
  background-image: linear-gradient(to bottom, @slate-blue 100%);
  color: @near-black;
  transition-duration: 120ms;
}
