#custom-screenshot,
#custom-power,
#workspaces {
  background-image: linear-gradient(to bottom, @deep-slate 100%);

  margin: 6px;
  margin-right: 0px;
  padding: 2px 8px;
  border-radius: 8px;
  color: @cool-light-gray;

  border-style: none;
  transition-duration: 120ms;
}

#custom-screenshot {
  /* more padding right due to 󰄀 witdth */
  padding: 2px 11px 2px 8px;
}

#custom-screenshot:hover {
  background-image: linear-gradient(to bottom, @slate-blue 100%);
  color: @near-black;
  transition-duration: 120ms;
}

#workspaces button {
  transition-duration: 100ms;
  all: initial;
  min-width: 0;
  font-weight: bold;
  color: @cool-light-gray;
  margin-right: 0.2cm;
  margin-left: 0.2cm;
}

#workspaces button:hover {
  transition-duration: 120ms;
  color: @dusty-blue;
}

#workspaces button.focused {
  color: @dusty-blue;
  font-weight: bold;
}

#workspaces button.active {
  color: @dusty-blue;
  font-weight: bold;
}



/* Pending: colors for urgent, critical and warning states. */
#workspaces button.urgent {
  color: #fcb167;
}
