#bluetooth,
#network,
#battery,
#pulseaudio,
#tray,
#clock {
  background-image: linear-gradient(to bottom, @deep-slate 100%);

  margin: 6px;
  margin-right: 0px;
  padding: 2px 8px;
  border-radius: 8px;
  color: @cool-light-gray;

  border-style: none;
  transition-duration: 120ms;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  color: #1d2021;
  background-image: linear-gradient(to bottom, @red 100%);
}

#pulseaudio:hover {
  background-image: linear-gradient(to bottom, @slate-blue 100%);
  color: @near-black;
  transition-duration: 120ms;
}

#clock {
  margin-right: 6px;
}
